<div class="items-right-view1">
    <!-- 1.第一行更新 -->
    <div class="gengxin">
        <!-- <p>时间和语言>输入</p> -->
        <div>
            <div ng-click="onJumpPage('#!/view7/view7-time')">时间和语言</div>
            <div>>输入</div>
        </div>
    </div>

    <!-- 第二部分 -->
    <div class="more-choise">
        <!-- 键入键盘 -->
        <div class="more" ng-controller="personCtrl">
            <div class="history" ng-click="toggle()">
                <div class="img"><img src="./view1/font/stop.png" alt="">
                </div>
                <div class="span">
                    <span class="high">键入键盘</span>
                </div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt="">
                </div>
                <!-- 下拉部分 -->
            </div>
            <div ng-hide="myVar" class="divdropdown">
                <form action="get">
                    <!-- <label for="2">每句话的首字母大写</label><br> -->
                    <!-- <input type="checkbox" id="2"><br> -->
                    <label for="1">
                        <input type="checkbox" id="1"><span>在我输入内容时播放按键音</span>
                    </label>
                    <label for="2">
                        <input type="checkbox" id="2"><span>每句话的首字母大写</span>
                    </label>
                    <label for="3">
                        <input type="checkbox" id="3"><span>显示语音输入麦克风</span>
                    </label>
                    <label for="4">
                        <input type="checkbox" id="4"><span>未连接键盘时显示触摸键盘</span>
                    </label>
                    <!-- <input type="checkbox">显示语音输入麦克风按钮<br>
                    <input type="checkbox">未连接键盘时显示触摸键盘<br> -->
                </form>
            </div>

            <!-- 文本建议 -->
            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">在物理键盘上键入时显示文本建议</span>
                    <span class="xiao">应用将以此列表中支持的第一种语言显示</span>
                </div>
                <div class="left">
                    <div class="switch">
                        <demoswitch ng-model="switch0"></demoswitch>
                    </div>
                </div>
            </div>

            <!-- 多语言文本建议 -->
            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">多语言文本建议</span>
                    <span class="xiao">根据我的语音首选项显示文本建议</span>
                </div>
                <div class="left">
                    <div class="switch">
                        <demoswitch ng-model="switch1"></demoswitch>
                    </div>
                </div>
            </div>

            <!-- 键入见解 -->
            <!-- <div class="view7-input" ng-click="onJumpPage('#!/view7/view7-time/view7-language/view7-input/view7-perspective')">
                <div><img src="./view1/font/stop.png" alt=""></div>
                <div><span>键入见解<br />查看键入和更正历史记录</span></div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt=""></div>
            </div> -->
            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">键入见解</span>
                    <span class="xiao">查看键入和更正历史记录</span>
                </div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt=""></div>
            </div>

            <!-- 高级键盘设置 -->
            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">高级键盘设置</span>
                </div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt=""></div>
            </div>
        </div>
        <!-- 相关设置-->
        <div class="more">
            <span>相关设置</span>
            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">语言和区域</span>
                    <span class="xiao">语言包、区域格式</span>
                </div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt=""></div>
            </div>

            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">墨迹书写和键入个性化</span>
                    <span class="xiao">个人字典</span>
                </div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt=""></div>
            </div>

            <div class="history">
                <div class="img"><img src="./view1/font/stop.png" alt=""></div>
                <div class="span">
                    <span class="high">文本光标</span>
                    <span class="xiao">颜色、大小、粗细</span>
                </div>
                <div class="left"><img src="./view7/font/Chevron-Right.png" alt=""></div>
            </div>
        </div>
        <!-- 获取帮助 -->
        <div class="fankui-help">
            <div><img src="./view1/font/wenhao.png" alt=""><span>获取帮助</span></div>
            <div>
                <img src="./view1/font/fankui.png" alt=""><span>提供反馈</span>
            </div>
        </div>
    </div>
</div>