<!-- <div class="demoswitch-wrapper">
    open就显示开这个字
    <div style="margin-right: 1em;">{{$ctrl.opened?"开":"关"}}</div>
    ng-class获取类名改变css样式
    <div ng-click="toggle()" ng-class="$ctrl.opened?'demoswitch opened':'demoswitch'">
        <div ng-class="$ctrl.opened?'opened':''"></div>
    </div>
</div>   -->

<div class="switch-wrapper">
    <label>{{switch?'开':'关'}}</label>
    <div class="switch-box">
        <input type="checkbox" ng-checked="switch" ng-model="switch" ng-change="send2parent(switch)"/>
        <div class="triggle"></div>
    </div>
</div>