/* .demoswitch-wrapper{
    display: flex;
    align-items: center;
}
.demoswitch{
    display: flex;
    width: 50px;
    height: 25px;
    cursor: pointer;
    border-radius: 15px;
    background:#fff;
    align-items: center;
    padding: 0.3rem;
    transition: all .25s linear;
}
.demoswitch div{
    height: 20px;
    width: 20px;
    background: rgb(112, 108, 108);
    border-radius: 15px;
    transition: all .30s linear;
}
.demoswitch.opened{
    justify-content: end;
    background: rgb(40, 97, 188);
    border-color: rgb(40, 97, 188);
}
.demoswitch div.opened {
    background-color: #fffffb;
} */
/* demoswitch{
    display: flex;
    align-items: center;
} */
.switchwapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    --w:30px;
    --h:15px;
}
label{
    font-size: 12px;
    color:rgb(198, 195, 195);
    margin-right: 8px;
}
.switchwapper .switch-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--w);
    height: var(--h);
    position: relative;
}
.switchwapper input[type="checkbox"]{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 99;
}
.switchwapper .trigger{
    position: absolute;
    cursor: pointer;
    text-indent: -999px;
    width: var(--w);
    height: var(--h);
    background: rgb(198, 195, 195);
    display: block;
    border-radius: 100px;
    z-index: 0;
}
.switchwapper .trigger:after{
    content: "";
    position: absolute;
    left: 4px;
    top: 2px;
    width: calc(var(--h)-4px);
    height: calc(var(--h) -4px);
    background: #fff;
    border-radius: var(--h);
    transition: 0.3s;
}
.switchwapper input:checked+.trigger{
    background-color: hsla(211, 79%, 50%, 0.972);
}
.switchwapper input:checked+.trigger:after{
    left:calc(100%-5px);
    transform:translateX(-100%);
}
.switchwapper input:active+.trigger:after{
    width: calc(var(--w)*0.85);
}
